[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
[submodule "pistache"]
	path = pistache
	url = https://github.com/oktal/pistache
[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd
